/*Adicionar Font baixada */
@font-face {

    /**Nomeia a fonte escolhida */
    font-family: "IntelOneMono";

    /**(Indica o caminho do arquivo da fonte */
    src: url("/assets/fonts/IntelOneMono-VariableFont_wght.ttf") format("truetype");

    /**Define a espessura da fonte */
    font-weight: normal;

}

/* RESET CSS*/ 
* {

    /**Reseta o margem padrão do navegador*/
    margin: 0;

    /** Não permite que o navegador altere o tamanho da caixa*/
    /* box-sizing: border-box; */

    font-size: 10px;
}

/* BODY(CORPO) */
html {
    height: 100%;
}
body{
    /** Chama a fonte escolhida*/
      font-family: 'IntelOneMono';

    /** Define a cor do texto*/
    color: #333333;

    /**Define a cor de fundo*/
    background-color: rgb(241, 248, 248);

    /**Controla o espaço entre as linhas de texto*/
    line-height: 1.7;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    
   
}

/**Cabeçalho*/

header {
    
    /**Cor de fundo do header*/
    background-color: #d8f3dc ;

    /**Alinha o texto no centro da página*/
    text-align: center;

    /** Espaçamento interno: empurra o conteúdo para dentro */
    padding: 40px 20px;


}


.menu-navegacao {

    /**Cor de fundo do menu de navegação*/
    background-color: #f0f4f8;

    /** Espaçamento interno: empurra o conteúdo para dentro */
    padding: 15px;

    /** Cria uma borda verde apenas em baixo com 2px de espessura*/
    border-bottom: 2px solid green;

    /** Fixa o elemento na tela: ele não sobe nem desce com o scroll */
    position: fixed; 

    /**Coloca o elemento colado ao topo máximo da janela*/
    top: 0;

    /**Coloca o elemento no máximo a esquerda da janela*/
    left: 0;

    /**garante que ele ocupe toda a largura da janela*/
    width: 100vw;

    /** Camada: números maiores ficam por cima de números menores */
    z-index: 100;

}

.menu-navegacao a {
    /**Define a cor do texto */
    color: green;

    /** Remove o sublinhado padrão dos links */
    text-decoration: none;

    /**Define a espessura do texto*/
    font-weight: bold;

    /** Suaviza a mudança em 0.3 segundos */
    transition: 0.4s;   
}

/** houver: Altera propriedades assim que o mouse enconsta no elemento*/

.menu-navegacao a:hover,.ativo {

    /** Cria uma borda Laranja apenas em baixo com 2px de espessura*/
    border-bottom: 2px solid #f69337;
    

}


.emoji {
    /** Emoji é lido como texto por isso usamos font-size para aumentar seu tamanho*/
    font-size: 80px;
    /**Adiciona margem para baixo*/
    margin-bottom: 10px;
}

h1{
    /**Define a cor do título*/
    color: #2d6a4f;
    /** define o tamanho do título(rem é a multiplicaçao do tamanho da font raiz vezes o valor definido)*/
    font-size: 2.2em;
    /**Define margem(Com 3 valores: o primeiro é para ⬆️, o segundo ⬅️➡️ e o terceiro ⬇️*/ 
    margin: 0px 0 10px;
    
}

/*! Desafios:
/** Trocar os emojis por imagens
/** Colocar as cores de preferência
/** Trocar os textos por textos referentes ao tema escolhido
/** Trocar fonte(interna, link ou import)
*/

/* ----- main -----*/
main {
    flex: 1;
}

.container-central{
    max-width: 800px;
    margin: 0 auto;
}
section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.secao-cinza {
    background-color: #ffffff;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h2{
    color: #2d6a4f;
    border-left: 4px solid #f6ad55;
    padding-left: 15px;
}

/* lista e itens da lista*/
ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background-color: #e6f4ea;
    padding: 12px 18px;
    margin-bottom:  8px;
    border-radius: 8px;
    border-left: 5px solid #2d6a4f ;
}
footer {
    background-color:#1a3c34 ;
    color: white;
    text-align: center;
    cursor: default;
    padding-top: 15px;
    bottom: 0;
}
.botao {
    display: inline-block;
    background-color: #f69337;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}
span {
    font-weight: bold;
    font-size: 15px;
    color:#326d0d
}

.formulario {
    max-width: 400px;
    margin: 20px auto;
    padding: 25px 60px;
    background-color:#f8f9fa ;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.formulario input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 15px;
}

.lista-acoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.acao-item{
    background-color: #e6f4ea;
    padding: 20px;
    border-radius: 8px;
    border-top: 4px solid #2d6a4f ;
    text-align: center;
    transition: transform 0.3s;
    
}

.acao-item:hover{
    transform: translateY(-5px);
}